.navlinks {
    margin-left: 8px;
    display: flex;
  }
  
  .logo {
    flex-grow: 1;
    cursor: pointer;
  }
  
  .link {
    text-decoration: none;
    color:white;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 8px;
    display: flex;
  }
  
  .link:hover {
    color:  #E57373;
    transition-duration: 200ms;
  }

.linkText {
    font-size: 16px;
}


.email {
    font-size: 4px;
    font-style: italic;
}

.mailTo {
  text-decoration: inherit;
  color: inherit;
}